<p>Loan Info</p>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">Loan 1</div>
  <div class="col-sm-4">Loan 2</div>
</div>
<div class="row">
  <div class="col-sm-4">Amount</div>
  <div class="col-sm-4"><input type="text" /></div>
  <div class="col-sm-4"><input type="text" /></div>
</div>
<div class="row">
  <div class="col-sm-4">Rate</div>
  <div class="col-sm-4"><input type="text" /></div>
  <div class="col-sm-4"><input type="text" /></div>
</div>
<div class="row">
  <div class="col-sm-4">Period</div>
  <div class="col-sm-4"><input type="text" /></div>
  <div class="col-sm-4"><input type="text" /></div>
</div>
<div class="row">
  <div class="col-sm-4"><button title="Calculate">Calculate</button></div>
 
</div>